.servicecontainerexpanded {
    background-color: rgba(228, 239, 255, 0.5);
    /* width: 500px; */
    min-width: 500px;
    max-width: 900px;
    height: fit-content;
    display: grid;
    grid-template-rows: 50px auto;
    border-radius: 10px;
}

.servicefeatureselect {
    display: grid;
}

.serviceinteractioncontainer {
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}