.listcontainerexpanded {
    background-color: rgba(228, 239, 255, 0.5);
    /* width: 100%; */
    min-width: 250px;
    max-width: 500px;
    height: fit-content;
    display: grid;
    grid-template-rows: 50px auto;
    border-radius: 10px;
}

.listtitlebar {
    align-items: center;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.listtitleicons {
    flex: none
}

.listcontentexpanded {
    background-color: white;
    margin: 0px 15px 15px 15px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: min-content auto;
}

/* .listdescription {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
} */